.page {
    display: grid;
    grid-template-columns: 48.5vw 24vw 24vw;
    grid-template-rows: calc(18% - 1rem) calc(70% - 1rem) calc(14% - 1rem);
    grid-auto-columns: 1fr;
    gap: 1rem 1rem;
    grid-template-areas:
        "title status countdown"
        "carousal event event"
        "next next next";
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/763860.png");
}

.title {
    font-family: 'Poppins', sans-serif;
    grid-area: title;
    color: white;
    font-size: 6rem;
    margin-left: 1rem;
    margin-top: 1rem;

}

.countdown {
    grid-area: countdown;
    margin-top: 1rem;
    margin-right: 1rem;
}

.status {
    grid-area: status;
    margin-top: 1rem;
}

.carousal {
    grid-area: carousal;
    margin-left: 1rem;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 10px solid #fff;
    margin: 10px;
}

.event {
    grid-area: event;
    margin-right: 1rem;

}


.next {
    grid-area: next;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#LabStatus {
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    color: white;
}

#open {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 5rem;
    background: green;
}

#closed {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 4rem;
    background: red;

}


ul#countdown {
    width: 100%;
    position: relative;
    margin-left: -15px;
    color: black;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-weight: bold;
}

ul#countdown li {
    padding: 0;
    display: inline-block;
    width: 22%;
    font-size: 2.5rem;
    text-align: center;
}

ul#countdown li .label {
    color: black;
    font-size: 0.5rem;
    text-transform: uppercase;
}

.logo {
    margin-left: 1rem;
    height: 6rem;
    margin-right: 1rem;
    border-radius: 50%;
}

#scroll-container {
    overflow: hidden;
}

#scroll-text {
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);


    animation: my-animation 20s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
    }
}

/* for Chrome */
@-webkit-keyframes my-animation {
    from {
        -webkit-transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.marquee {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
}

/*
.image>img {
    max-height: 100%;
    max-width: 100%;
}

.image {
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.image {
    overflow: hidden;
    max-width: 100%;
    height: 100%;
}
*/